name: 自动构建
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: DockerBuildx
        uses: docker/setup-buildx-action@v3

      - name: 登录dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: 编译推送
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/oneimg:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/oneimg:${{ github.ref_name }}
